body {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.section-main {
    margin-top: 94px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

